@import "../variables.scss";

.btn {
  font-family: "Jost", sans-serif;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid var(--button-text-color);
  border-radius: 20px;
  color: var(--button-text-color);
  box-shadow: 2px 4px 0px #acadb0;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease-in 0.2s;

  &:hover {
    color: var(--ligth-color);
    background-color: var(--primary-color);
  }

  &[disabled] {
    color: var(--text-color);
    border-color: var(--text-color);
    cursor: no-drop;

    &:hover {
      color: var(--text-color);
      border-color: var(--text-color);
      background-color: inherit;
    }
  }
}

.toggle-mode {
  color: var(--button-text-color);
  cursor: pointer;
}
