@import "../variables.scss";

.hamburger {
  display: none;
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  z-index: 10;

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    content: "";
    position: absolute;
    width: 24px;
    height: 3px;
    top: 0;
    left: 0;
    background: var(--button-text-color);
    transform: rotate(0);
    transition: all 0.5s;
  }

  .hamburger-middle {
    transform: translateY(7px);
  }

  .hamburger-bottom {
    transform: translateY(14px);
  }
}
