@import "./variables.scss";

.container {
  padding: 20px 0;

  .contact-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;  // This will center the block

    h1 {
      color: var(--button-text-color);
      text-align: center;
    }

    .contact-form {
      display: flex;
      flex-direction: column;

      label {
        color: var(--button-text-color);
        margin-bottom: 5px;
      }

      .input-text {
        margin-bottom: 20px;
      }

      textarea.input-text {
        height: 150px;
        resize: none; // Add this line
      }
      

      .btn {
        margin-bottom: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    .contact-block {
      width: 100%;
    }
  }
}
