@import "./variables.scss";

header {
  position: relative;
  padding: 20px 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;

    .logo-block {
      svg {
        g {
          fill: var(--button-text-color);

          .circle {
            fill: var(--primary-color);
          }
        }
      }
    }

    nav {
      margin-left: 80px;
      margin-right: auto;

      ul {
        display: flex;
        gap: 20px;

        li {
          a {
            position: relative;

            &:after {
              position: absolute;
              content: "";
              bottom: 0;
              left: 0;
              height: 2px;
              width: 0;
              background-color: var(--primary-color);
              transition: all ease-in 0.2s;
            }

            &:hover {
              &:after {
                width: 50%;
              }
            }
          }
        }
      }
    }

    .profile-btns {
      display: flex;
      align-items: center;
      gap: 20px;

      .sign-out {
        margin-right: 10px;
        margin-left: auto;
      }

      .profile {
        cursor: pointer;
        display: inline-block;
        color: var(--button-text-color);

        svg {
          width: 35px;
          height: 35px;
        }
      }
    }

    .sign-out-mob {
      display: block;
      padding: 10px 15px;
      margin: 0 auto;
    }

    .login-btns,
    .control-btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }

    .mobile-menu {
      position: absolute;
      padding: 60px;
      width: calc(70% + 60px);
      height: 100vh;
      top: 100%;
      background-color: var(--primary-color);
      z-index: 10;

      transition: all ease 0.5s;

      .nav {
        display: block;
        margin: 0;
        margin-bottom: 40px;

        ul {
          flex-direction: column;
          text-align: center;
        }
      }

      .login-btns {
        justify-content: center;
        gap: 40px;
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    @media (max-width: 768px) {
      nav,
      .login-btns:not(:last-child) {
        display: none;
      }

      .hamburger {
        display: block;
      }
    }
  }
}
