@import "./variables.scss";

header {
  position: relative;
  padding: 20px 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-block {
      svg {
        g {
          fill: $button-text-color;

          .circle {
            fill: $primary-color;
          }
        }
      }
    }

    nav {
      margin-left: 80px;
      margin-right: auto;

      ul {
        display: flex;
        gap: 20px;

        li {
          a {
            position: relative;

            &:after {
              position: absolute;
              content: "";
              bottom: 0;
              left: 0;
              height: 2px;
              width: 0;
              background-color: $primary-color;
              transition: all ease-in 0.2s;
            }

            &:hover {
              &:after {
                width: 50%;
              }
            }
          }
        }
      }
    }

    .login-btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }

    .mobile-menu {
      position: absolute;
      padding: 60px;
      width: calc(50% - 60px);
      height: 100vh;
      top: 100%;
      background-color: $primary-color;

      transition: all ease 0.5s;

      .nav {
        display: block;
        margin: 0;
        margin-bottom: 40px;

        ul {
          flex-direction: column;
          text-align: center;
        }
      }

      .login-btns {
        justify-content: center;
        gap: 40px;
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    @media (max-width: 768px) {
      nav,
      .login-btns:not(:last-child) {
        display: none;
      }

      .hamburger {
        display: block;
      }
    }
  }
}
