@import "./variables.scss";
@import "./mixins.scss";

.surveys {
  padding: 20px 0;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    .add {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      padding: 5px;
      box-shadow: none;

      .tooltip {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        display: inline-block;
        padding: 0 10px;
        transition: opacity 0.6s;
        text-transform: none;
        left: -120px;
        color: var(--primary-color);
        background-color: var(--text-color);
        border-radius: 5px;

        &::after {
          content: "";
          position: absolute;
          top: 30%;
          right: -8px;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent transparent var(--text-color);
        }
      }

      &:hover span {
        visibility: visible;
        opacity: 1;
        color: var(--primary-color);
      }
    }

    h2 {
      position: relative;
      max-width: max-content;
      text-transform: uppercase;

      &::after {
        @include border-bottom;
      }
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }

    h3 {
      font-size: 1.3em;
      margin-bottom: 20px;
    }

    .survay-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--primary-color);
      padding: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 20px;

      &:hover {
        box-shadow: none;
      }

      .control-btns {
        a,
        .edit,
        .delete {
          @media (max-width: 1024px) {
            font-size: 14px;
          }
        }

        a {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        transition: all ease-in 0.2s;

        .edit:hover {
          background-color: var(--warning);
        }

        .delete:hover {
          background-color: var(--danger);
        }
      }
    }
  }
}
