@import "./variables.scss";

.survey {
  max-width: 600px;
  margin: 0 auto;

  form {
    display: flex;
    flex-direction: column;

    .survey-title {
      text-transform: none;
      text-align: center;
      font-size: 1.2em;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .survey-item {
      padding: 20px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin-bottom: 10px;

      .survey-question {
        margin-bottom: 22px;
      }

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 6px;
      }
    }

    button {
      margin-top: 20px;
      margin-left: auto;
    }
  }
}
