// Color for default mode
$primary-color: #29a587;
$background-color: #f2ede6;
$text-color: #6b6a69;
$button-text-color: #262c34;
$heading-color: #262c34;
$ligth-color: #ffffff;
$dark-color: #262c34;

// Colors for ligth mode

html[data-theme="light"] {
  --background-color: #f2ede6;
  --text-color: #6b6a69;
  --button-text-color: #262c34;
  --heading-color: #262c34;
  --ligth-color: #ffffff;
  --dark-color: #262c34;
}

// Colors for dark mode

html[data-theme="dark"] {
  --background-color: #242a32;
  --text-color: #acadb0;
  --button-text-color: #ffffff;
  --heading-color: #ffffff;
}

// Breakpoints
// sm	@media (max-width: 640px) {  }
// md	@media (max-width: 768px) {  }
// lg	@media (max-width: 1024px) {  }
// xl	@media (max-width: 1280px) {  }
// 2xl	@media (max-width: 1536px) {  }
